* {
  margin: 0;
}
.page--header {
  height: 65px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  align-items: center;
  color: white;
}

.page--header-left {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-left: 20px;
  height: 100%;
}

.page--header-right {
  display: flex;
  margin-left: auto;
  margin-right: 37px;
}

.header--logo {
  height: 50%;
  width: auto;
}

.header--title {
  font-family: Karla, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.header--subtitle {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.meme--inputs {
  margin-top: 36px;
  margin-bottom: 20px;
  display: flex;
}

.meme--input {
  width: 47%;
  height: 35px;

  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.meme--input-top {
  margin-right: auto;
}

.meme--form {
  text-align: center;
  justify-items: center;
  color: white;
  width: 80%;
  margin: 0 auto 0 auto;
}

.meme--button {
  color: white;
  width: 100%;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;

  margin-bottom: 47px;
}

.meme--image {
  max-height: 65vh;
  width: auto;
}

.meme {
  position: relative;
}

.meme--text {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}